@mixin container {
  width: 100%;
  max-width: 800px + 2 * 145px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 145px;
  padding-left: 145px;

  @include mobile {
    max-width: 600px + 2 * 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

